<% provide(:title, 'Reset password') %>

<div class="auth-form">
    <h1>Reset password</h1>

    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'errors' %>

        <%= hidden_field_tag :email, @user.email %>

        <%= f.label :password, class: "af-label" %>
        <%= f.password_field :password, class: "form-control af-input" %>

        <%= f.label :password_confirmation, "Confirmation", class: "af-label" %>
        <%= f.password_field :password_confirmation, class: "form-control af-input" %>

        <%= f.submit "Update password", class: "btn btn-primary", id: "af-submit" %>
    <% end %>
</div>
