<footer id="footer">
    <div class="sizing-x">
        <div class="row">
            <div class="col-md-3 footer-col-left">
                <h1>Kidanemihret/org</h1>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">አማርኛ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Español</a>
                        <a class="dropdown-item" href="#">العَرَبِيَّة</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 footer-col-mid">
                <h1>Links</h1>
                <ul>
                    <li><%= link_to root_path, class: "" do %>Home<% end %></li>
                    <li><%= link_to about_path, class: "" do %>About Us<% end %></li>
                    <li><%= link_to contact_path, class: "" do %>Contact<% end %></li>
                    <li><%= link_to dev_path, class: "" do %>Store<% end %></li>
                </ul>
                <ul>
                    <li><%= link_to teachings_path, class: "" do %>Teachings<% end %></li>
                    <li><%= link_to media_path, class: "" do %>Media<% end %></li>
                    <li><%= link_to news_path, class: "" do %>News<% end %></li>
                </ul>
                <ul>
                    <li><%= link_to dev_path, class: "" do %>Help<% end %></li>
                    <li><%= link_to dev_path, class: "" do %>FAQ<% end %></li>
                    <li><%= link_to "https://kidanemihret.org/sitemap.xml", class: "", target: "_blank" do %>Sitemap<% end %></li>
                </ul>
                <ul>
                    <li><%= link_to dev_path, class: "" do %>Resources<% end %></li>
                    <li><%= link_to dev_path, class: "" do %>Donate<% end %></li>
                    <li><%= link_to "https://db.kidanemihret.org", class: "", target: "_blank" do %>Database<% end %></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col-right">
                <ul>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/hnkidanemihret/">
                            <i data-feather="facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/hnkidanemihret">
                            <i data-feather="twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/kidanemihret">
                            <i data-feather="github"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/">
                            <i data-feather="youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/">
                            <i data-feather="linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/">
                            <i data-feather="instagram"></i>
                        </a>
                    </li>
                </ul>
                <small>Copyright &copy; 2001-<%= Time.current.year %>. All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>
