<header id="header">
    <div class="sizing-x">
        <%= link_to root_path, id: "logo" do %>Kidanemihret/org<% end %>
        <a class="header-toggle" data-toggle="collapse" href="#collapse-nav" role="button" aria-expanded="false" aria-controls="collapse-nav">
            <i data-feather="menu"></i>
        </a>
        <!-- <a class="header-toggle">
            <i data-feather="x"></i>
        </a> -->

        <ul id="hdr-ul-left">
            <li><%= link_to about_path, class: "" do %>About Us<% end %></li>
            <li><%= link_to dev_path, class: "" do %>Teachings<% end %></li>
            <li><%= link_to dev_path, class: "" do %>Media<% end %></li>
            <li><%= link_to dev_path, class: "" do %>News<% end %></li>
            <li><%= link_to contact_path, class: "" do %>Contact Us<% end %></li>
        </ul>

        <ul id="hdr-ul-right">
            <li>
                <a target="_blank" href="https://www.facebook.com/hnkidanemihret/" data-toggle="tooltip" data-html="true" title="<em>facebook</em>/<b>hnkidanemihret</b>">
                    <i data-feather="facebook"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/hnkidanemihret" data-toggle="tooltip" data-html="true" title="<em>twitter</em>/<b>hnkidanemihret</b>">
                    <i data-feather="twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://store.kidanemihret.org" id="hdr-store-link" data-toggle="tooltip" data-html="true" title="<em>Visit our </em><b>Store!</b>">
                    <i data-feather="shopping-bag"></i>
                </a>
            </li>
            <li>
                <%= link_to dev_path, id: "hdr-login-link", 'data-toggle': "tooltip", 'data-html': "true", 'title': "<em>Log in</em> <u>or</u> <b>Sign up!</b>" do %>
                    <i data-feather="log-in"></i>
                <% end %>
            </li>
        </ul>
    </div>
</header>

<nav class="collapse" id="collapse-nav">
    <ul class="sizing-x">
        <li><%= link_to about_path, class: "" do %>About Us<% end %></li>
        <li><%= link_to dev_path, class: "" do %>Teachings<% end %></li>
        <li><%= link_to dev_path, class: "" do %>Media<% end %></li>
        <li><%= link_to dev_path, class: "" do %>News<% end %></li>
        <li><%= link_to contact_path, class: "" do %>Contact Us<% end %></li>
        <li><%= link_to dev_path, class: "" do %>View our Store!<% end %></li>
        <li><%= link_to dev_path, class: "" do %>Log In or Sign Up<% end %></li>
        <li class="collapse-nav-media">
            <a target="_blank" href="https://www.facebook.com/hnkidanemihret/" data-toggle="tooltip" data-html="true" title="<em>facebook</em>/<b>hnkidanemihret</b>">
                <i data-feather="facebook"></i>
            </a>
            <a target="_blank" href="https://twitter.com/hnkidanemihret" data-toggle="tooltip" data-html="true" title="<em>twitter</em>/<b>hnkidanemihret</b>">
                <i data-feather="twitter"></i>
            </a>
        </li>
    </ul>
</nav>
