<!-- <header id="header">
    <div class="hn-wrapper">
        <div class="hn-logo">
            <%= link_to root_path do %><h1>kidanemihret</h1><h3>eotc</h3><% end %>
        </div>
        <ul class="hn-links">
            <li><%= link_to about_path do %>About<% end %></li>
            <li><%= link_to contact_path do %>Contact<% end %></li>
            <li><%= link_to root_path do %>Media<% end %></li>
            <li><%= link_to root_path do %>Teachings<% end %></li>
            <li><%= link_to root_path do %>Login<% end %></li>
            <li><%= link_to root_path, id: "hn-links-dropdown" do %><i data-feather="menu"></i><% end %></li>
        </ul>
        <div class="hn-links">
            <%= link_to "https://www.facebook.com/hnkidanemihret/", class: "hn-links-item", target: "_blank" do %><i data-feather="facebook"></i><% end %>
            <%= link_to "https://twitter.com/hnkidanemihret", class: "hn-links-item", target: "_blank" do %><i data-feather="twitter"></i><% end %>
            <%= link_to root_path, class: "hn-links-item hn-hdr-shop", 'data-toggle': "tooltip", 'data-placement': "bottom", title: "Store" do %><i data-feather="shopping-bag"></i><% end %>
            <%= link_to root_path, class: "hn-links-item", 'data-toggle': "tooltip", 'data-html': "true", title: "<em>Log in</em> <u>or</u> <b>Sign up</b>" do %><i data-feather="log-in"></i><% end %>

        </div>
    </div>
</header> -->

<header id="header">
    <div class="hn-wrapper">
        <div class="">

        </div>
    </div>
</header>

<nav id="sub-header">
    <div class="hn-wrapper">

    </div>
</nav>
