<header id="header">
    <div class="control-width">
        <div class="float-left">
            <ul>
                <li><%= link_to "Kidanemihret", root_path %></li>
            </ul>
        </div>
        <div class="float-right">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Log in", root_path %></li>
                <li id="sidebar-toggle">
                    <a href="#" data-toggle="modal" data-target="#sidebar-nav">
                        <i data-feather="menu"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="modal fade" id="sidebar-nav" tabindex="-1" role="dialog" aria-labelledby="sidebar-nav-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sidebar-nav-title">Menu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <p>― Pages ―</p>
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                    <p>― Sessions ―</p>
                    <li><%= link_to "Log in", root_path %></li>
                    <li><%= link_to "Sign up", root_path %></li>
                </ul>
            </div>
            <div class="modal-footer">
                <ul>
                    <li><a href="https://www.facebook.com/hnkidanemihret/" target="_blank"><i data-feather="facebook"></i></a></li>
                    <li><a href="https://twitter.com/hnkidanemihret" target="_blank"><i data-feather="twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
