<header id="header">
    <div class="control-width">
        <%= link_to root_path, id: "site-name" do %>kidanemihret<% end %>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li>
                <a role="button" id="resources-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    Resources <i data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="resources-dropdown">
                    <a class="dropdown-item" href="#">Holy Bible (NKJV)</a>
                    <a class="dropdown-item" href="#">Pay tithes online</a>
                    <a class="dropdown-item" href="#">Find a verse</a>
                </div>
            </li>
            <li><%= link_to "Log in", root_path %></li>
            <li id="sm-menu-dropdown">
                <a role="button" id="sm-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    Menu <i data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="resources-dropdown">
                    <%= link_to "Home", root_path, class: "dropdown-item" %>
                    <%= link_to "About", about_path, class: "dropdown-item" %>
                    <%= link_to "Contact", contact_path, class: "dropdown-item" %>
                </div>
            </li>
        </ul>
    </div>
</header>
