<!-- <header id="header">
    <div class="hn-wrapper">
        <div class="hn-logo">
            <%= link_to root_path do %><h1>kidanemihret</h1><h3>eotc</h3><% end %>
        </div>
        <ul class="hn-links">
            <li><%= link_to about_path do %>About<% end %></li>
            <li><%= link_to contact_path do %>Contact<% end %></li>
            <li><%= link_to root_path do %>Media<% end %></li>
            <li><%= link_to root_path do %>Teachings<% end %></li>
            <li><%= link_to root_path do %>Login<% end %></li>
            <li><%= link_to root_path, id: "hn-links-dropdown" do %><i data-feather="menu"></i><% end %></li>
        </ul>
        <div class="hn-links">
            <%= link_to "https://www.facebook.com/hnkidanemihret/", class: "hn-links-item", target: "_blank" do %><i data-feather="facebook"></i><% end %>
            <%= link_to "https://twitter.com/hnkidanemihret", class: "hn-links-item", target: "_blank" do %><i data-feather="twitter"></i><% end %>
            <%= link_to root_path, class: "hn-links-item hn-hdr-shop", 'data-toggle': "tooltip", 'data-placement': "bottom", title: "Store" do %><i data-feather="shopping-bag"></i><% end %>
            <%= link_to root_path, class: "hn-links-item", 'data-toggle': "tooltip", 'data-html': "true", title: "<em>Log in</em> <u>or</u> <b>Sign up</b>" do %><i data-feather="log-in"></i><% end %>

        </div>
    </div>
</header> -->

<header id="header">
    <div class="hn-wrapper">
        <div class="">

        </div>
    </div>
</header>

<nav id="sub-header">
    <div class="hn-wrapper">

    </div>
</nav>


<!-- <section id="home-hero">
    <div class="hn-wrapper">
        <h1>Hamere Noah Kidane Mihret.</h1>
        <h3>Ethiopian Orthodox Tewahedo Church.</h3>
        <div id="home-hero-search">
            <i data-feather="search"></i>
            <input type="text" placeholder="Look up a bible verse ..." autofocus>
            <p>You can <%= link_to root_path do %>log in<% end %> to the site, or <%= link_to root_path do %>sign up<% end %> to create an account.</p>
        </div>
    </div>
</section> -->

<!-- <section id="home-welcome">
    <div class="hn-wrapper">
        <div class="row">
            <div class="col-md-8">
                <p>In the name of the Father, the Son, and the Holy Spirit, One God Amen. Welcome to the official website of <%=link_to root_path do %>Hamere Noah Kidane Mihret<% end %> (St. Mary) Ethiopian Orthodox Tewahedo Church.</p>
                <p>This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition.</p>
                <p>We call upon everyone to join us as we worship and glorify God according to the faith, order and tradition of the Ethiopian Orthodox Tewahedo Church.</p>
                <p>We are located at <%= link_to "https://goo.gl/maps/QY1VrqWBim52", target: "_blank" do %>1677 Snyder's Rd E<% end %>. See <%= link_to contact_path do %>Contact Us<% end %> page for details.</p>
            </div>
            <div class="col-md-4">
                <%= link_to root_path, class: "btn btn-3 btn-3e btn-green" do %>Donate online<i data-feather="dollar-sign"></i><% end %>
                <%= link_to root_path, class: "btn btn-3 btn-3e btn-yellow" do %>Shop at store<i data-feather="shopping-cart"></i><% end %>
                <%= link_to root_path, class: "btn btn-3 btn-3e btn-red" do %>View calendar<i data-feather="calendar"></i><% end %>
            </div>
        </div>
    </div>
</section>

<section id="random-filler-div">

</section>-->
