<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church, located in Southern Ontario, Canada.">
    <meta name="author" content="Alexander Maru">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
    <%= render 'shared/header' %>

    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= debug(params) if Rails.env.development? %>

    <script>feather.replace({ class: 'feather-icon', 'stroke-width': 2 })</script>
</body>
</html>
