<%= spaceless do %>
<!doctype html>
<html>
<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="author" content="Alexander Maru">
    <meta name="description" content="Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church, located in Southern Ontario, Canada.">

    <meta property="og:title" content="Kidane Mihret">
    <meta property="og:description" content="Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church, located in Southern Ontario, Canada.">
    <meta property="og:url" content="https://kidanemihret.org/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Kidane Mihret">
    <meta property="og:image" content="https://s-media-cache-ak0.pinimg.com/736x/8a/fc/6b/8afc6b45d414fe61f1334e0d203980b4.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Kidane Mihret">
    <meta name="twitter:description" content="Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church, located in Southern Ontario, Canada.">
    <meta name="twitter:creator" content="Alexander Maru">
    <meta name="twitter:domain" content="https://kidanemihret.org/">
    <meta name="twitter:site" content="Kidane Mihret">
    <meta name="twitter:image" content="https://s-media-cache-ak0.pinimg.com/736x/8a/fc/6b/8afc6b45d414fe61f1334e0d203980b4.jpg">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106749390-3"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-106749390-3");</script>
</head>

<body>
    <%= render 'shared/header' %>

    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type} top-alert-message alert-dismissible fade show") do %>
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <% end %>
    <% end %>
    <%= yield %>

    <%= render 'shared/footer' %>

    <script>feather.replace({ class: 'feather-icon', 'stroke-width': 2 })</script>
</body>
</html>
<% end %>
