<%= spaceless do %>
<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church serves the Orthodox Christian community of Kitchener-Waterloo in Ontario, Canada. We welcome you in the name of the Father, the Son, and the Holy Spirit, One God, Amen.">
    <meta name="author" content="@assefamaru">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/a8eeaad789.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'partials/header' %>
    <%= render 'partials/sidebar' %>
    <div class="content-height">
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
<% end %>
