<%= spaceless do %>
<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church, located in Southern Ontario, Canada.">
    <meta name="author" content="Alexander Maru">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
    <%= render 'shared/header' %>

    <div class="alert-tag-container">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= "#{message_type}" %> alert-dismissible fade show">
                <% if "#{message_type}" == "success" %>
                    <strong>Success!</strong> <%= message %>
                <% elsif "#{message_type}" == "warning" %>
                    <strong>Pending!</strong> <%= message %>
                <% elsif "#{message_type}" == "danger" %>
                    <strong>Error!</strong> <%= message %>
                <% end %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        <% end %>
    </div>

    <div class="page-content-wrapper">
        <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <script>
        feather.replace({ class: 'feather-icon', 'stroke-width': 2 })
    </script>
</body>
</html>
<% end %>
